h1 {color: lightblue; text-shadow:currentColor; text-align: center;}
h2 {color: dodgerblue; text-align: center;}
p {color: darkblue;text-align: center;}
#navy {color: navy ;text-align: justify;}
table {animation:alternate-reverse;}
body{background: url('aja.jpg'); }